{% extends 'base.html' %}

{% block content %}
<div class="container bg-white">
    <div class="row ">
        <div class="col-12 p-5">
            <h3 class="text-center">Вход</h3>
            <form action="" method="post" class="form">
                {% if form.non_field_errors %}
                    <div class="non-field-errors alert alert-danger">
                        {% for err in form.non_field_errors %}
                            <p class="form-error">{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}
                    <fieldset class="mb-5">
                        <label>
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% for err in field.errors %}
                            <div class="form-control-feedback invalid-feedback">{{ err }}</div>
                        {% endfor %}
                    </fieldset>
                {% endfor %}

                <div class="form-actions text-center p-5">
                    {% csrf_token %}
                    <button type="submit" role="button" class="btn text-white" style="background-color:rgb(250,90,60)">Войти</button>
                    &nbsp;&nbsp;
                    <a href="{% url 'user:password-reset' %}" style="color:rgb(250,90,60)">Забыли пароль?</a>
                    <hr>
                    <a href="{% url 'user:signup' %}" style="color:rgb(250,90,60)">Зарегестрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
