{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-6 ml-auto mr-auto mt-5">
        <div class="card ">
            <div class="card-header bg-dark text-white">Войти</div>
            <div class="card-body">
                <form action="" method="post" class="form">
                    {% if form.non_field_errors %}
                        <div class="non-field-errors alert alert-danger">
                            {% for err in form.non_field_errors %}
                                <p class="form-error">{{ err }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <fieldset class="form-group row mb25 ">
                            <label>
                                {{ field.label }}
                            </label>
                            <div class="col-md-12">
                                {% if field.errors %}
                                    {{ err }}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% for err in field.errors %}
                                    <div class="form-control-feedback invalid-feedback">{{ err }}</div>
                                {% endfor %}
                                <small class="form-text text-muted">
                                    {{ field.help_text }}
                                </small>
                            </div>
                        </fieldset>
                    {% endfor %}

                    <div class="form-actions text-center">
                        {% csrf_token %}
                        <button type="submit" role="button" class="btn btn-dark btn-sm">Войти</button>
                        &nbsp;&nbsp;
                        или
                        <a href="{% url 'user:signup' %}" class="btn btn-link">Зарегестрироваться</a>
                    </div>
                    <div class="form-actions text-center">
                        <a href="{% url 'user:password-reset' %}"
                           class="btn btn-link">Забыли пароль?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
