{% extends 'base.html' %}
{% block title %}Test variants{% endblock %}

{% block content %}
<div class="container bg-white" style="padding-bottom: 5%;">
    <h1 class="text-center p-2">{{ test.title }}</h1>
    <hr class="border-primary">
    <div class="row p-5">
        {% if request.user.is_authenticated %}
        {% for variant in test.variants.all %}
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ variant.title }}</h5>
                        <hr class="border-primary">
                        <p class="card-text">{{ variant.description }}</p>
                        <p class="card-text text-muted">Количество вопросов: {{ variant.questions.count }}</p>
                        <a href="{{ variant.get_absolute_url }} " class="btn btn-outline-primary">Начать</a>
                    </div>
                    {% if request.user.is_authentcated and request.user.is_staff %}
                        {% block admin-buttons %}
                            <div class="card-footer admin-buttons">
                                <a class="btn btn-outline-primary btn-sm" href="{% url 'cwt:variant-update' variant.id %}">
                                    Изменить
                                </a>
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'cwt:variant-delete' variant.id %}">
                                    Удалить
                                </a>
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="col-12 text-center" style="padding-bottom: 23%;">
                <p>Только зарегестрированные пользователи могут проходить тесты пройдите
                    <a  href="{% url 'user:signup' %}">регистрацию</a>
                    или
                    <a href="{% url 'user:signin' %}">войдите </a>
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block admin_panel %}
    <a class="btn btn-outline-primary" href="{% url 'cwt:variant-create' %}">Создать вариант</a>
{% endblock %}